.content__button {
    background: $white;
    color: $smoky-black;
    border-radius: 0;
    border: 2px solid $smoky-black;
    padding:0.75rem 1rem;
    font-family: $raleway;
    font-size: $font-size-x-large;
    font-weight: $font-bold;


    &-container {
       padding-left: 40px; 
    }

    &--large {
        margin-right: 5rem;
        width: 200px;
        
    }

    &--hover:hover {
       border-color: $light-gray;
    }

    &--active:active {
        border-color: $light-gray;
        color: $light-gray;
    }
}

@media (max-whith: $breakpoint-lg) {
    .content__button--large {
        margin-right: 4rem;
    }
}